.element--0_5U {
  width: 2rem;
}
.element--1U {
  width: 4rem;
}
.element--1_25U {
  width: 5rem;
}
.element--1_5U {
  width: 6rem;
}
.element--1_75U {
  width: 7rem;
}
.element--2U {
  width: 8rem;
}
.element--2_25U {
  width: 9rem;
}
.element--2_5U {
  width: 10rem;
}
.element--2_75U {
  width: 11rem;
}
.element--4U {
  width: 16rem;
}
.element--6_25U {
  width: 25rem;
}
