.key {
  box-sizing: border-box;
  outline: 0.1rem solid red;
  height: 4rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3.8rem;
}

.key--pristine {
  background-color: white;
}
.key--reset {
  background-color: lightgray;
}
.key--working {
  background-color: lightgreen;
}
.key--active {
  background-color: yellow;
}
